/* Mobile layout */
@media only screen and (min-width: 200px) and (max-width: 480px)
{
    .container{
        width: 100%;
        margin: 0 auto;
    }
    /* service_section */
    section{
        padding: 30px 0px;
    }
    .top_bar{
        display: block;
    }
    .email {
        text-align: center;
      }
      .phone {
        
        text-align: center;
      }
      .social {
        transition: .3s;
        display: flex;
        justify-content: center;
      }
      .primarysection{
        display: block
        ;
       
        }
        .logo{
            padding-left: 30px;
        }
        .menu ul{
                display: flex;
                height: 100%;
                align-items: center;
                flex-direction: column;
                padding: 28px;
                background: #1c13136e;
                position: static;
                border: none;

        }
        .slider-content {
            color: #fff;
            width: 100%;
          }
          .slider-content h1 {
            font-size: 28px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 30px;
            margin-top: 120px;
            float: left;
           text-align: center;
          }
          .menuBar {
            display: block;
            width: 24px;
            height: 3px;
            position: absolute;
            background: white;
            top: 20px;
            right: 10px;
            transition:.5s ease-in-out;
            cursor: pointer;
          }
          
          
          
          #sliderwork {
            background: #ff5200;
            color: white;
            border: none;
            font-size: 12px;
            font-weight: 600;
            border-radius: 3px;
            margin-bottom: 60px;
            margin-top: 35px;
            margin-left: 125px;
          }
          .slider-content p {
            display: none;
          }
       
      
    .sboxWrappper{
        display: block;
        padding: 10px;

       
    }
    .runner{
        display: block;
        font-size: 16px;
    }
    .singleicons span{
        font-size: 16px;
    }
    .singlebox{
        padding: 0 10px;

    }
    .team-content{
        display: block;
    }
    .team-image{
        width: 100%;
    }
    .teamfacilitys{
        padding: 15px;
    }
    .team-details{
        width: 100%;
    }
    .titledec h2{
        font-size: 34px;
        padding: 15px;
    }
    .titledec p{
        padding: 15px;
        font-size: 13px;
    }
    .teambtn{
        margin-left: 25%;
    }

    /* client section */
    .iconwrapper{
        display: block;
    }
    .singleicons{
        padding: 15px;
    }
    /* blog section */
    .sectitle h{
        font-size: 30px;
    }
    .sectitle p{
        font-size: 16px;
        width: 100%;
    }
    .postwrapper{
        display: block;
        padding: 15px;
    }
    .sectitle{
        margin-bottom: 10px;
    }
    .postinfo p{
        margin-bottom: 10px;
    }

    /* plan section */

    .tablelist{
        display: block;
        padding: 20px;
    }
    .singletable{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    /* team section */

    .team-person{
        display: block;
        padding: 15px;
    }
    .projectwrapper{
        display: block;
        padding: 15px;
    
    }
    .newswrpper{
        display: block;
        padding: 15px;
    }
    .singleproject{
        margin-bottom: 15px;
    }
    .subscribewrpper{
        display: block;
    }
    .inpuboxes input:first-child{
        border-radius: 0;
        position: relative;
    }
    .inpuboxes{
        position: static;
    }
    
    input#subssubmit{
        display: none;

    }
    .subsboxsingle {
        overflow: hidden;
        padding: 30px 0px;
        color: white;
      }
      .fbox{
        padding: 40px;
      }
      .copyright{
        display: block;
      }
      .copyrightmenu {
        margin-right: 50px;
      }
    

}
  
